



@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 100;
  src: local('Satoshi Light'), url('./fonts/Satoshi-Light.woff') format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: local('Satoshi'), url('./fonts/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  src: local('Satoshi Medium'), url('./fonts/Satoshi-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  src: local('Satoshi Bold'), url('./fonts/Satoshi-Bold.woff') format('woff');
}



@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  src: local('Satoshi Black'), url('./fonts/Satoshi-Black.woff') format('woff');
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-foreground:0,0,0;
  --page-width:160rem;
  --font-heading-family:'Satoshi', sans-serif;;
  --font-heading-style:normal;
  --font-heading-weight:400;
  --footer-background:#EDF4FF;
  --font-heading-scale:1;
  --font-alber-sans: "Albert Sans";
  --color-button:0,0,0;
  --color-button-text:255,255,255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100%;
  font-size:10px;
  overflow-x: hidden;
}
body {
  max-width: 100vw;
  height: 100%;
}

body {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  color: var(--color-foreground);
  line-height: 1.6;
  font-size: 1.6rem;
  background: var(--background);
  overflow-x: hidden;
  font-family: var(--font-alber-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 750px) {
  body {
      font-size: 2rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}


a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: 0.06rem;
  color: rgb(var(--color-foreground));
  line-height: 1.3;
  word-break: break-word;
}
.hxxl {
  font-size: clamp(calc(var(--font-heading-scale) * 5.6rem), 14vw, calc(var(--font-heading-scale) * 7.2rem));
  line-height: 1.1;
}

.hxl {
  font-size: calc(var(--font-heading-scale) * 5rem);
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
}

@media only screen and (min-width: 750px) {
  .hxl {
    font-size: calc(var(--font-heading-scale) * 6.5rem);
  }
}

.h0 {
  font-size: calc(var(--font-heading-scale) * 4rem);
}

@media only screen and (min-width: 750px) {
  .h0 {
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4.5rem);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.5rem);
  }
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem);
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

h4,
.h4 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

@media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

h6,
.h6 {
  color: rgba(var(--color-foreground), 0.75);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 1.4rem 3.5rem;
  cursor: pointer;
  font: inherit;
  font-size: 2.1rem;
  line-height: 1.333;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 58px;
  font-family: var(--font-heading-family);
  background-color: rgba(var(--color-button));
}
.button .aerrow-svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.2rem;
  transition: 0.3s;
}
.button:hover svg {
  transform: translate(20%, 0);
  transition: all 0.3s ease-in-out;
}
.page-width{
  max-width: var(--page-width);
  margin:0 auto;
  padding:0 2rem;
  width: 100%;
}

@media screen and (min-width:767px) {
  .page-width{
    padding:0 3rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.header-menu-container{
  display: none;
}
.header-icons{
  display: none;
}
.header-menu-container svg {
  width: 2.8rem;
  height: 2.8rem;
  display: block;
  color: #5A42E2;
}
.header-menu-drawer {
  position: fixed;
  background: #fff;
  inset: 0 10% 0 0;
  z-index: 1;
  height: 100%;
  transform: translate(-100%, 0);
  transition: 0.3s;
  overflow-y: auto;
}
.header-menu-drawer.active{
  transform: translate(0, 0);
}
.header-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #000;
}
.header-drawer-header .header__heading-link {
  max-width: 140px;
}
.page-not-found {
  min-height: 26vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oveflow-hidden {
  overflow: hidden;
}
.header-drawer-header .header__heading-link img {
  display: block;
}
.header__heading-logo-wrapper img {
  display: block;
}
.header-drawer-header .close-icon {
  color: #5A42E2;
  flex: 0 0 25px;
  max-width: 25px;
  background: none;
  border: none;
}
.link--text:hover span {
  text-decoration: underline;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
/* header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.list-menu--inline {
  display: inline-flex;
  flex-wrap: wrap;
}
.header__heading {
  flex: 0 0 207px;
}

.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-menu__item {
  display: flex;
  align-items: center;
  font-family: var(--font-heading-family);
  line-height: 1.33;
  font-size: 2.4rem;
  font-weight: 500;
}
.header__menu-item {
  padding: 1.2rem 2.3rem;
  text-decoration: none;
  color: rgba(var(--color-foreground), 1);
}
.header__heading-logo-wrapper {
  max-width: 207px;
}
.section-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}
.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.policies-links {
  display: flex;
  align-items: center;
}
.section-footer{
  background: var(--footer-background);
}
.footer-grid-item {
  flex: 0 0 calc(25% - var(--ft-gap)* 3 / 4);
  max-width: calc(25% - var(--ft-gap)* 3 / 4);
}
.brand-logo {
  max-width: 222px;
  width: 100%;
  margin-bottom: 3.3rem;
}
.footer-block__details-content .list-menu__item {
  font-size: 18px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 70px;
  border-top: 1.5px solid #5A42E2;
}
.policies-links a {
  font-weight: 500;
  color: #5A42E2;
  margin-left: 9rem;
}
.copypright-block {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #5A42E2;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .list-menu__item{
  font-family: var(--font-alber-sans);
}
.footer-menu-heading {
    font-weight: 600;
    display: inline-block;
    border-bottom: 3.26px solid #5A42E2;
    padding-bottom: 6.26px;
}
.footer-block__details-content {
  margin-top: 4rem;
}
.footer-block__details-content li {
  margin-bottom: 13.27px;
}
.top-footer-header {
  padding: 7rem 0;
  --ft-gap: 10px;
  gap: var(--ft-gap);
}
.footer-inline-link a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}
.footer-inline-link a svg {
  width: 38px;
  height: 38px;
}
.footer-inline-link {
  margin-bottom: 2.4rem;
}
.brand-contact .social-share {
  display: flex;
  align-items: center;
  padding-top:1rem;
  gap: 25px;
}

.social-share p {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2.5px solid #5A42E2;
}

.social-linklist {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-linklist .socialIcon {
  display: inline-flex;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
}

.social-linklist .socialIcon svg {
  width: 100%;
  height: 100%;
}
.brand-logo img {
  display: block;
}

