.jwa-list-row{
    display: flex;
    flex-wrap:wrap;
    --gap:45px;
    gap:var(--gap);
    margin-top:60px;
}
.jwa-list-item{
    flex:0 0 calc(20% - var(--gap)*4/5);
    max-width:calc(20% - var(--gap)*4/5);
}
.jwa-item-image img {
    max-width: 35px;
    display: block;
}

.headings-jwa h2 {
    font-size: 52px;
    font-weight: 700;
}

.jwa-description {
    font-size: 28px;
    max-width: 795px;
    margin: 45px auto;
}
.section-join-whizangle {
    margin: 90px 0;
}

.jwa-item-image {
    display: inline-block;
    margin: 0 auto;
    padding: 13px;
    border-radius: 50%;
}
.jwa-list-item {
    border-radius: 18px;
    padding: 30px;
}

.jwa-item-title h2 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 17px;
}
.jwa-item-description p {
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-heading-family);
    margin-top: 17px;
}